#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@keyframes pop-in {
	0% {
		transform: scale(0) rotate(var(--rotation));
	}
	30% {
		transform: scale(2) rotate(var(--rotation));
	}
	100% {
		transform: scale(1) rotate(var(--rotation));
	}
}

img.banana {
	width: 2rem;
	animation: pop-in 0.5s;
	transform: scale(1) rotate(var(--rotation));
	transition: transform 0.5s;
}

.pile {
	width: 15rem;
	display: flex;
	justify-content: center;
	align-content: flex-end;
	flex-wrap: wrap;
	height: 30rem;
	border-radius: 8px;
	border: 2px solid gray;
	padding: 1rem;
}

.count {
	margin: 0 2rem;
}

nav {
	display: flex;
	justify-content: space-around;
	a {
		color: yellow;
		&:hover {
			color: yellow;
			text-decoration: underline;
		}
		&.active {
			color: gray;
		}
	}
}
